@model List<SalesApp.Infraestructure.Models.Negocio.NegocioBaseModal>
@{
    ViewData["Title"] = "Negocio";
}

@if (ViewBag.Message is not null)
{
    <span class="alert-danger">@ViewBag.Message</span>
}

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <a href="@Url.Action("Create", "Negocio")" class="btn btn-outline-primary">Agregar Negocio</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nombre Logo</th>
                        <th>Nombre Negocio</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th class="text-center">Aciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var negocio in Model)
                    {
                        <tr>
                            <td><img class="img-table" src="@negocio.urlLogo" /></td>
                            <td>@negocio.nombreLogo</td>
                            <td>@negocio.nombre</td>
                            <td>@negocio.correo</td>
                            <td>@negocio.direccion</td>
                            <td>@negocio.telefono</td>
                            <td>
                                <a class="btn btn-outline-dark" href="@Url.Action("Details", "Negocio", new { id = negocio.id})">Ver Detalle</a>
                                <a class="btn btn-outline-dark" href="@Url.Action("Edict", "Negocio", new { id = negocio.id})">Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
